body{
    background-image: url(images/isometric-empty-shopping-basket-gadget_1262-16541.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
#signUpBtn{
    background-color: black;
}